---
title: Test Results
author: Jeremy
tags: [exams, tests, education, science, mathematics]
permalink: /209
date: 2019-12-11
---

![Siz panels depicting various behaviours students exhibit before receiving their results. Praying, sweating, calm, stressed, denial, and resignation.](https://res.cloudinary.com/dh3hm8pb7/image/upload/c_scale,q_auto:best,w_615/v1535842782/Handwaving/Published/TestResults.png){: .centre-image }

Not pictured: biting nails, pacing back and forth, and obsessively checking their school's site to see if the teacher posted grades.
