---
title: Verification
author: Jeremy
tags: [mathematics, proof, education]
permalink: /85
date: 2019-02-25
---

![In the first panel, a person climbs a sheer cliff to search for a proof. In the second panel, another person wonders why it took so long when checking the proof was easy.](https://res.cloudinary.com/dh3hm8pb7/image/upload/c_scale,q_auto:best/v1535842782/Handwaving/Published/Verification.png){: .centre-image }

I can't tell you the number of times a dead-simple proof eluded me for many hours, only to see the "obvious" answer later.